header {
    margin-bottom: 32px;
}

.brand {
    float: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
}

/* NAVIGATION */

.navbar {
    margin: 20px 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 5px 10px 0;
    padding: 0;
    list-style: none;
    display: inline;
}

.navbar a {
    padding: 3px 12px;
    text-decoration: none;
    color: green;
    line-height: 100%;
}

.navbar a:hover {
    color: #000 !important;
}

.navbar li.active {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: green;
}

.navbar.navbar-right ul {
    text-align: right;
}

.navbar.navbar-center ul {
    text-align: center;
}

/* TABLET MEDIA QUERY - NAVIGATION */

@media screen and (max-width: 768px) {

    .brand {
        float: none;
        display: block;
    }

    .brand > img {
        margin: 0px auto;
    }

    .navbar,
    .navbar.navbar-right ul {
        text-align: center;
    }
}

/* MOBILE PHONE MEDIA QUERY - NAVIGATION */

@media screen and (max-width: 480px) {

    /* Custom style goes here */
}
